*{
    margin: 0px;
}
body{
    padding: 50px;
    margin-bottom: 50px;
}
.post{
    border: 2px solid black;
    padding: 50px;
    padding-top: 25px;
    margin: 30px 50px;
    position: relative;
}
.post p{
    padding-top: 10px;
    width: 850px;
}
.post button{
    border: 2px solid black;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: absolute;
    bottom: 100%;
    left: 100%;
    transform: translate(-50%, 50%);
}
.post h2{
    margin: 10px;
    margin-left: 0;
}
.post .posst{
    width: 250px;
    margin: 0;
    padding: 10px;
    padding-left: 30px;
    position: absolute;
    bottom: 100%;
    right: 100%;
    border: 2px solid #000000;
    border-radius: 25px;
    background-color: white;
    transform: translate(90%, 50%);
}
.top{
    margin-top: 20px;
    font-size: 20px;
    height: 40px;
    width: 85px;
    position: absolute;
    right: 100px;
    background-color: white;
    border: 2px solid #000000;
}